{% load static %}

<!-- ===============================================-->
<!--    Header Starts Here -->
<!-- ===============================================-->

<head>
    <base href="../../../" />
    <meta charset="utf-8" />
    <title>Vancouvar | Enterprise ML Platform for Venture Capital Firms</title>
    <meta name="description" content="An enterprise ML platform where startups and venture capital firms find the best investment deals without sending or receiving schlocky pitch decks." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="{% static '/css/plugins.bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/prismjs.bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/style.bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/wizard-2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/wizard-3.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/wizard-5.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/login-1.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static '/logos/primary-no-filled.png' %}">
</head>

<!-- ===============================================-->
<!--    Header Ends Here -->
<!-- ===============================================-->
