{% load static %}

<!-- ===============================================-->
<!--    Note Starts Here -->
<!-- ===============================================-->

<div class="container">
  <div class="card card-custom gutter-b">
    <div class="card-body d-flex align-items-center py-5 py-lg-7">
      <div class="d-flex flex-center position-relative ml-5 mr-15 ml-lg-9">
        <span
          class="svg-icon svg-icon-5x svg-icon-primary position-absolute opacity-15"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="70px"
            height="70px"
            viewBox="0 0 70 70"
            fill="none"
          >
            <g stroke="none" stroke-width="1" fill-rule="evenodd">
              <path
                d="M28 4.04145C32.3316 1.54059 37.6684 1.54059 42 4.04145L58.3109 13.4585C62.6425 15.9594 65.3109 20.5812 65.3109 25.5829V44.4171C65.3109 49.4188 62.6425 54.0406 58.3109 56.5415L42 65.9585C37.6684 68.4594 32.3316 68.4594 28 65.9585L11.6891 56.5415C7.3575 54.0406 4.68911 49.4188 4.68911 44.4171V25.5829C4.68911 20.5812 7.3575 15.9594 11.6891 13.4585L28 4.04145Z"
                fill="#000000"
              />
            </g>
          </svg>
        </span>
        <span class="svg-icon svg-icon-2x svg-icon-primary position-absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            version="1.1"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24" />
              <path
                d="M6,9 L6,15 C6,16.6568542 7.34314575,18 9,18 L15,18 L15,18.8181818 C15,20.2324881 14.2324881,21 12.8181818,21 L5.18181818,21 C3.76751186,21 3,20.2324881 3,18.8181818 L3,11.1818182 C3,9.76751186 3.76751186,9 5.18181818,9 L6,9 Z"
                fill="#000000"
                fill-rule="nonzero"
              />
              <path
                d="M10.1818182,4 L17.8181818,4 C19.2324881,4 20,4.76751186 20,6.18181818 L20,13.8181818 C20,15.2324881 19.2324881,16 17.8181818,16 L10.1818182,16 C8.76751186,16 8,15.2324881 8,13.8181818 L8,6.18181818 C8,4.76751186 8.76751186,4 10.1818182,4 Z"
                fill="#000000"
                opacity="0.3"
              />
            </g></svg
          ><!--end::Svg Icon--></span
        >
      </div>
      <div class="m-0 text-dark-50 font-weight-bold font-size-lg pt-3">
        <p>
          With Vancouvar, venture capital firms can rapidly build simple machine
          learning models that predict the best startup investment deals without
          getting bombarded by schlocky pitches from schlocky founders. These
          models are trained by the data we collect from founders and investors
          on our platform along with existing datasets on what investors look
          for before investing in their portfolios.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ===============================================-->
<!--    Note Ends Here -->
<!-- ===============================================-->
