{% load static %}

<!-- ===============================================-->
<!--    Subnav Starts Here -->
<!-- ===============================================-->

<style>
    #brand {
        border-radius: 6px;
    }
</style>

<div class="subheader bg-white h-100px" id="kt_subheader">
    <div class="container flex-wrap flex-sm-nowrap">
        <div class="d-none d-lg-flex align-items-center flex-wrap w-250px">
            <a href="/">
                <img id="brand" alt="Logo" src="{% static '/logos/white-primary-filled.png' %}" class="max-h-40px" />
            </a>
        </div>
        <div class="subheader-nav nav flex-grow-1">
            <div class="nav-item">
                <span class="nav-label px-10">
            <span class="nav-title text-dark-75 font-weight-bold font-size-h1">0</span>
                <span class="nav-desc text-muted">Deals</span>
                </span>
            </div>
            <div class="nav-item">
                <span class="nav-label px-10">
            <span class="nav-title text-dark-75 font-weight-bold font-size-h1">>$0</span>
                <span class="nav-desc text-muted">~ MRR</span>
                </span>
            </div>
            <div class="nav-item">
                <span class="nav-label px-10">
            <span class="nav-title text-dark-75 font-weight-bold font-size-h1">>$0</span>
                <span class="nav-desc text-muted">~ Valuation</span>
                </span>
            </div>
            <div class="nav-item">
                <span class="nav-label px-10">
            <span class="nav-title text-dark-75 font-weight-bold font-size-h1">>$0</span>
                <span class="nav-desc text-muted">~ Raised</span>
                </span>
            </div>
            <div class="nav-item">
                <span class="nav-label px-10">
            <span class="nav-title text-dark-75 font-weight-bold font-size-h1">>$0</span>
                <span class="nav-desc text-muted">~ Raising</span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    Subnav Ends Here -->
<!-- ===============================================-->