{% load static %}

<!DOCTYPE html>

<html lang="en">

<!-- ===============================================-->
<!--    Header Starts Here -->
<!-- ===============================================-->

<title>{% block title %} Select a Plan | Vancouvar {% endblock %}</title>
<title>{% block description %} You can select a plan here. {% endblock %}</title>

{% include 'main/templates/header.html' %}

<!-- ===============================================-->
<!--    Header Ends Here -->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    Body Starts Here -->
<!-- ===============================================-->

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                <!-- ===============================================-->
                <!--    Mainnav Starts Here -->
                <!-- ===============================================-->

                {% include 'plans/templates/mainnav.html' with user=user %}

                <!-- ===============================================-->
                <!--    Mainnav Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Subnav Starts Here -->
                <!-- ===============================================-->

                {% include 'main/templates/subnav.html' %}

                <!-- ===============================================-->
                <!--    Subnav Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Content Starts Here -->
                <!-- ===============================================-->

                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!-- ===============================================-->
                    <!--    Breadcrumbs Start Here -->
                    <!-- ===============================================-->

                    {% include 'plans/templates/breadcrumbs.html' %}

                    <!-- ===============================================-->
                    <!--    Breadcrumbs End Here -->
                    <!-- ===============================================-->

                    <!-- ===============================================-->
                    <!--    Notice Starts Here -->
                    <!-- ===============================================-->



                    <!-- ===============================================-->
                    <!--    Notice Ends Here -->
                    <!-- ===============================================-->

                    <!-- ===============================================-->
                    <!--    Table Starts Here -->
                    <!-- ===============================================-->

                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <div class="card card-custom">
                                <div class="card-body py-20">

                                    <div class="tab-content">

                                        <!-- ===============================================-->
                                        <!--    Plans Start Here -->
                                        <!-- ===============================================-->

                                        <div class="tab-pane show active row text-center" id="kt_pricing_1" role="tabpanel">
                                            <div class="row">
                                                <div class="col-xl-4 border-right-0 border-right-xl border-bottom border-bottom-xl-0">
                                                    <div class="py-20 px-10 px-lg-20">
                                                        <div class="d-flex flex-center position-relative py-20">
                                                            <span class="svg svg-fill-info opacity-5 position-absolute">
                                                                <svg width="175" height="200">
                                                                    <polyline
                                                                        points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                                </svg>
                                                            </span>
                                                            <span class="svg-icon svg-icon-5x svg-icon-info">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path
                                                                            d="M6.5,16 L7.5,16 C8.32842712,16 9,16.6715729 9,17.5 L9,19.5 C9,20.3284271 8.32842712,21 7.5,21 L6.5,21 C5.67157288,21 5,20.3284271 5,19.5 L5,17.5 C5,16.6715729 5.67157288,16 6.5,16 Z M16.5,16 L17.5,16 C18.3284271,16 19,16.6715729 19,17.5 L19,19.5 C19,20.3284271 18.3284271,21 17.5,21 L16.5,21 C15.6715729,21 15,20.3284271 15,19.5 L15,17.5 C15,16.6715729 15.6715729,16 16.5,16 Z"
                                                                            fill="#000000" opacity="0.3" />
                                                                        <path
                                                                            d="M5,4 L19,4 C20.1045695,4 21,4.8954305 21,6 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6 C3,4.8954305 3.8954305,4 5,4 Z M15.5,15 C17.4329966,15 19,13.4329966 19,11.5 C19,9.56700338 17.4329966,8 15.5,8 C13.5670034,8 12,9.56700338 12,11.5 C12,13.4329966 13.5670034,15 15.5,15 Z M15.5,13 C16.3284271,13 17,12.3284271 17,11.5 C17,10.6715729 16.3284271,10 15.5,10 C14.6715729,10 14,10.6715729 14,11.5 C14,12.3284271 14.6715729,13 15.5,13 Z M7,8 L7,8 C7.55228475,8 8,8.44771525 8,9 L8,11 C8,11.5522847 7.55228475,12 7,12 L7,12 C6.44771525,12 6,11.5522847 6,11 L6,9 C6,8.44771525 6.44771525,8 7,8 Z"
                                                                            fill="#000000" />
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        <div class="d-flex flex-column flex-center text-center pt-10">
                                                            <h4 class="font-size-h6 d-block d-block font-weight-bold text-dark-50 pb-5">
                                                                Angel</h4>
                                                            <div class="d-flex justify-content-center pb-5">
                                                                <span class="font-weight-bolder display-4 text-dark-75 align-self-center">$60/mo.</span>
                                                            </div>
                                                            <span class="label label-light-success label-inline font-weight-bolder label-lg mb-10">for Business Angels</span>
                                                            <ul class="list-unstyled text-muted mb-10">
                                                                <li>20 Messages Per Month</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Automated Deal Detection</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Asynchronous Communication</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Predictive Analytics</li>
                                                            </ul>
                                                            {% if user.email_plan == "Angel" %}
                                                                <button id="checkout-button-angel" class="btn btn-primary text-uppercase font-weight-bolder px-16 py-4">Active</a>
                                                            {% else %}
                                                                <button id="checkout-button-angel" class="btn btn-primary text-uppercase font-weight-bolder px-16 py-4">Select</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 border-right-0 border-right-xl border-bottom border-bottom-xl-0">
                                                    <div class="py-20 px-10 px-lg-20">
                                                        <div class="d-flex flex-center position-relative py-20">
                                                            <span class="svg svg-fill-success opacity-5 position-absolute">
                                                                <svg width="175" height="200">
                                                                    <polyline
                                                                        points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                                </svg>
                                                            </span>
                                                            <span class="svg-icon svg-icon-5x svg-icon-success">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path
                                                                            d="M20.4061385,6.73606154 C20.7672665,6.89656288 21,7.25468437 21,7.64987309 L21,16.4115967 C21,16.7747638 20.8031081,17.1093844 20.4856429,17.2857539 L12.4856429,21.7301984 C12.1836204,21.8979887 11.8163796,21.8979887 11.5143571,21.7301984 L3.51435707,17.2857539 C3.19689188,17.1093844 3,16.7747638 3,16.4115967 L3,7.64987309 C3,7.25468437 3.23273352,6.89656288 3.59386153,6.73606154 L11.5938615,3.18050598 C11.8524269,3.06558805 12.1475731,3.06558805 12.4061385,3.18050598 L20.4061385,6.73606154 Z"
                                                                            fill="#000000" opacity="0.3" />
                                                                        <polygon fill="#000000"
                                                                            points="14.9671522 4.22441676 7.5999999 8.31727912 7.5999999 12.9056825 9.5999999 13.9056825 9.5999999 9.49408582 17.25507 5.24126912" />
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        <div class="d-flex flex-column flex-center text-center pt-10">
                                                            <h4 class="font-size-h6 d-block d-block font-weight-bold text-dark-50 pb-5">
                                                                Venture</h4>
                                                            <div class="d-flex justify-content-center pb-5">
                                                                <span class="font-weight-bolder display-4 text-dark-75 align-self-center">$70/mo.</span>
                                                            </div>
                                                            <span class="label label-light-danger label-inline font-weight-bolder label-lg mb-10">for Venture Capital Firms</span>
                                                            <ul class="list-unstyled text-muted mb-10">
                                                                <li>40 Messages Per Month</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Automated Deal Detection</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Asynchronous Communication</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Predictive Analytics</li>
                                                            </ul>
                                                            {% if user.email_plan == "Venture" %}
                                                                <button id="checkout-button-venture" class="btn btn-primary text-uppercase font-weight-bolder px-16 py-4">Active</a>
                                                            {% else %}
                                                                <button id="checkout-button-venture" class="btn btn-primary text-uppercase font-weight-bolder px-16 py-4">Select</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="py-20 px-10 px-lg-20">
                                                        <div class="d-flex flex-center position-relative py-20">
                                                            <span class="svg svg-fill-danger opacity-5 position-absolute">
                                                                <svg width="175" height="200">
                                                                    <polyline
                                                                        points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                                </svg>
                                                            </span>
                                                            <span class="svg-icon svg-icon-5x svg-icon-danger">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path
                                                                            d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 C2.99998155,19.0000663 2.99998155,19.0000652 2.99998155,19.0000642 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z"
                                                                            fill="#000000" opacity="0.3" />
                                                                        <path
                                                                            d="M13.8,12 C13.1562,12 12.4033,12.7298529 12,13.2 C11.5967,12.7298529 10.8438,12 10.2,12 C9.0604,12 8.4,12.8888719 8.4,14.0201635 C8.4,15.2733878 9.6,16.6 12,18 C14.4,16.6 15.6,15.3 15.6,14.1 C15.6,12.9687084 14.9396,12 13.8,12 Z"
                                                                            fill="#000000" opacity="0.3" />
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        <div class="d-flex flex-column flex-center text-center pt-10">
                                                            <h4 class="font-size-h6 d-block d-block font-weight-bold text-dark-50 pb-5">
                                                                Office</h4>
                                                            <div class="d-flex justify-content-center pb-5">
                                                                <span class="font-weight-bolder display-4 text-dark-75 align-self-center">$90/mo.</span>
                                                            </div>
                                                            <span class="label label-light-info label-inline font-weight-bolder label-lg mb-10">for Family Offices</span>
                                                            <ul class="list-unstyled text-muted mb-10">
                                                                <li>80 Messages Per Month</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Automated Deal Detection</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Asynchronous Communication</li>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <li>Predictive Analytics</li>
                                                            </ul>
                                                            {% if user.email_plan == "Office" %}
                                                                <button id="checkout-button-office" class="btn btn-primary text-uppercase font-weight-bolder px-16 py-4">Active</a>
                                                            {% else %}
                                                                <button id="checkout-button-office" class="btn btn-primary text-uppercase font-weight-bolder px-16 py-4">Select</a>
                                                            {% endif %}
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ===============================================-->
                                        <!--    Plans End Here -->
                                        <!-- ===============================================-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ===============================================-->
                    <!--    Table Ends Here -->
                    <!-- ===============================================-->
                </div>

                <!-- ===============================================-->
                <!--    Content Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Footer Starts Here -->
                <!-- ===============================================-->

                {% include 'main/templates/footer.html' %}

                <!-- ===============================================-->
                <!--    Footer Ends Here -->
                <!-- ===============================================-->
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    Script Starts Here -->
    <!-- ===============================================-->

    {% include 'main/templates/script.html' %}

    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51Imb9WDIUASXHMisO60xnl4nVjYg9kfxGK2BAIgZGZZrK2rzBO0FRMVIz1xVbClrog624qNMbrlH3lG5nGr4cbDa00QnLGr1GG");
        var checkoutButtonangel = document.getElementById("checkout-button-angel");
        var checkoutButtonventure = document.getElementById("checkout-button-venture");
        var checkoutButtonoffice = document.getElementById("checkout-button-office")

        checkoutButtonangel.addEventListener("click", function () {
        fetch("/plans/angel", { headers : {cookie : document.cookie }}, {
            method: "POST",
        })
            .then(function (response) {
            return response.json();
            })
            .then(function (session) {
            console.log("TEST SESSION")
            return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
            })
            .catch(function (error) {
            console.error("Error:", error);
            });
        });

        checkoutButtonventure.addEventListener("click", function () {
        fetch("/plans/venture", { headers : {cookie : document.cookie }}, {
            method: "POST",
        })
            .then(function (response) {
            return response.json();
            })
            .then(function (session) {
            console.log("TEST SESSION")
            return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
            })
            .catch(function (error) {
            console.error("Error:", error);
            });
        });

        checkoutButtonoffice.addEventListener("click", function () {
        fetch("/plans/office", { headers : {cookie : document.cookie }}, {
            method: "POST",
        })
            .then(function (response) {
            return response.json();
            })
            .then(function (session) {
            console.log("TEST SESSION")
            return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
            })
            .catch(function (error) {
            console.error("Error:", error);
            });
        });
    </script>
    </html>

    <!-- ===============================================-->
    <!--    Script Ends Here -->
    <!-- ===============================================-->

</body>

<!-- ===============================================-->
<!--    Body Ends Here -->
<!-- ===============================================-->

</html>