{% load static %}

<!DOCTYPE html>

<html lang="en">

<!-- ===============================================-->
<!--    Header Starts Here -->
<!-- ===============================================-->

<title>{% block title %} Dashboard | Vancouvar {% endblock %}</title>
<title>{% block description %} This is your dashboard. {% endblock %}</title>

{% include 'main/templates/header.html' %}

<!-- ===============================================-->
<!--    Header Ends Here -->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    Body Starts Here -->
<!-- ===============================================-->

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                <!-- ===============================================-->
                <!--    Mainnav Starts Here -->
                <!-- ===============================================-->

                {% include 'dashboard/templates/mainnav.html' %}

                <!-- ===============================================-->
                <!--    Mainnav Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Subnav Starts Here -->
                <!-- ===============================================-->

                {% include 'main/templates/subnav.html' with user=user %}

                <!-- ===============================================-->
                <!--    Subnav Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Content Starts Here -->
                <!-- ===============================================-->

                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!-- ===============================================-->
                    <!--    Breadcrumbs Start Here -->
                    <!-- ===============================================-->

                    {% include 'dashboard/templates/breadcrumbs.html' with username=username %}

                    <!-- ===============================================-->
                    <!--    Breadcrumbs End Here -->
                    <!-- ===============================================-->

                    <!-- ===============================================-->
                    <!--    Notice Starts Here -->
                    <!-- ===============================================-->

                    {% include 'main/templates/notice.html' %}

                    <!-- ===============================================-->
                    <!--    Notice Ends Here -->
                    <!-- ===============================================-->

                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <!-- ===============================================-->
                            <!--    Slide Cards Start Here -->
                            <!-- ===============================================-->

                            <div class="row">
                                <!-- ===============================================-->
                                <!--    1st Slide Card Starts Here -->
                                <!-- ===============================================-->

                                <div class="col-xl-4">
                                    <div class="card card-custom card-stretch gutter-b">
                                        <div class="card-body">
                                            <div id="stats-widget-slider-1" class="carousel slide" data-ride="carousel" data-interval="8000">
                                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                    <span class="font-size-h6 text-muted font-weight-bolder text-uppercase pr-2">New Deals</span
                            >
                            <div class="p-0">
                              <a
                                href="#stats-widget-slider-1"
                                class="btn btn-icon btn-light btn-sm mr-1"
                                role="button"
                                data-slide="prev"
                              >
                                <span class="svg-icon svg-icon-md">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999)"
                                      />
                                    </g>
                                  </svg>
                                </span>
                                                    </a>
                                                    <a href="#stats-widget-slider-1" class="btn btn-icon btn-light btn-sm" role="button" data-slide="next">
                                                        <span class="svg-icon svg-icon-md">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999)"
                                      />
                                    </g>
                                  </svg>
                                </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="carousel-inner pt-9">
                                                <div class="carousel-item">
                                                    <div class="d-flex flex-column justify-content-between h-100">
                                                      {% if user1_string %}
                                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                          No Deal Available
                                                        </h3>
                                                        <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                            Wait for more users
                                                        </p>
                                                      {% else %}
                                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                          {{ user1.business_name }}
                                                        </h3>
                                                        <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                            {{ user1.target_market }}  {{user1.business_industry}}
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="d-flex flex-column justify-content-between h-100">
                                                      {% if user2_string %}
                                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                          No Deal Available
                                                        </h3>
                                                        <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                          Wait for more users
                                                        </p>
                                                      {% else %}
                                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                          {{ user2.business_name }}
                                                        </h3>
                                                        <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                          {{ user2.target_market }}   {{ user2.business_industry }}
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                </div>
                                                <div class="carousel-item active">
                                                    <div class="d-flex flex-column justify-content-between h-100">
                                                      {% if user3_string %}
                                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                            No Deal Available
                                                        </h3>
                                                        <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                            Wait for more users
                                                        </p>
                                                      {% else %}
                                                      <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                        {{ user3.business_name }}
                                                      </h3>
                                                      <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                          {{ user3.target_market }}  {{ user2.business_industry }}
                                                      </p>
                                                      {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer border-0 d-flex align-items-center justify-content-between pt-0">
                                        <span class="label label-lg label-light-primary label-inline font-size-sm font-weight-bolder py-5">FOUNDERS' DEALS</span
                        >
                        <a
                          href="{% url 'account_update' %}"
                          class="btn btn-sm btn-primary font-weight-bolder px-6"
                          >UPDATE</a
                        >
                      </div>
                    </div>
                  </div>

                  <!-- ===============================================-->
                  <!--    1st Slide Card Ends Here -->
                  <!-- ===============================================-->

                  <!-- ===============================================-->
                  <!--    2nd Slide Card Starts Here -->
                  <!-- ===============================================-->

                  <div class="col-xl-4">
                    <div class="card card-custom card-stretch gutter-b">
                      <div class="card-body">
                        <div
                          id="stats-widget-slider-2"
                          class="carousel slide"
                          data-ride="carousel"
                          data-interval="8000"
                        >
                          <div
                            class="d-flex align-items-center justify-content-between flex-wrap"
                          >
                            <span
                              class="font-size-h6 text-muted font-weight-bolder text-uppercase pr-2"
                              >Local Deals</span
                            >
                            <div class="p-0">
                              <a
                                href="#stats-widget-slider-2"
                                class="btn btn-icon btn-light btn-sm mr-1"
                                role="button"
                                data-slide="prev"
                              >
                                <span class="svg-icon svg-icon-md">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999)"
                                      />
                                    </g>
                                  </svg>
                                </span>
                                        </a>
                                        <a href="#stats-widget-slider-2" class="btn btn-icon btn-light btn-sm" role="button" data-slide="next">
                                            <span class="svg-icon svg-icon-md">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999)"
                                      />
                                    </g>
                                  </svg>
                                </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="carousel-inner pt-9">
                                    <div class="carousel-item">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                          {% if localuser1_string %}
                                            <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                No Deal Available
                                            </h3>
                                            <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                Wait for more users
                                            </p>
                                          {% else %}
                                            <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                              {{ localuser1.business_name }}
                                            </h3>
                                            <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                {{localuser1.incorporated_state }} {{ localuser1.incorporated_country}}
                                            </p>
                                          {% endif %}
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                          {% if localuser2_string %}
                                            <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                                No Deal Available
                                            </h3>
                                            <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                Wait for more users
                                            </p>
                                          {% else %}
                                            <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                              {{ localuser2.business_name }}
                                            </h3>
                                            <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                                {{localuser2.incorporated_state }} {{ localuser2.incorporated_country}}
                                            </p>
                                          {% endif %}
                                        </div>
                                    </div>
                                    <div class="carousel-item active">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                          {% if localuser3_string %}
                                          <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                              No Deal Available
                                          </h3>
                                          <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                              Wait for more users
                                          </p>
                                        {% else %}
                                          <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                            {{ localuser3.business_name }}
                                          </h3>
                                          <p class="text-dark-75 font-size-lg font-weight-normal pt-2 mb-0">
                                              {{localuser3.incorporated_state }} {{ localuser3.incorporated_country}}
                                          </p>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-0 pt-0">
                            <div class="flex-grow-1">
                                <div class="text-muted font-weight-bold font-size-lg pb-4">
                                    ~ 70% Relevancy Score
                                </div>
                                <div class="progress progress-xs bg-light-primary">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ===============================================-->
                <!--    2nd Slide Card Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    3rd Slide Card Starts Here -->
                <!-- ===============================================-->

                <div class="col-xl-4">
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-body">
                            <div id="stats-widget-slider-3" class="carousel slide" data-ride="carousel" data-interval="8000">
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <span class="font-size-h6 text-muted font-weight-bolder text-uppercase pr-2">Hot Deals</span
                            >
                            <div class="p-0">
                              <a
                                href="#stats-widget-slider-3"
                                class="btn btn-icon btn-light btn-sm mr-1"
                                role="button"
                                data-slide="prev"
                              >
                                <span class="svg-icon svg-icon-md">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999)"
                                      />
                                    </g>
                                  </svg>
                                </span>
                                    </a>
                                    <a href="#stats-widget-slider-3" class="btn btn-icon btn-light btn-sm" role="button" data-slide="next">
                                        <span class="svg-icon svg-icon-md">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    version="1.1"
                                  >
                                    <g
                                      stroke="none"
                                      stroke-width="1"
                                      fill="none"
                                      fill-rule="evenodd"
                                    >
                                      <polygon points="0 0 24 0 24 24 0 24" />
                                      <path
                                        d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                        fill="#000000"
                                        fill-rule="nonzero"
                                        transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999)"
                                      />
                                    </g>
                                  </svg>
                                </span>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-inner pt-9">
                                <div class="carousel-item">
                                    <div class="flex-grow-1">
                                      {% if industryuser1_string %}
                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                            No Deal Available
                                        </h3>
                                        <p class="text-primary font-size-h2 font-weight-bolder pt-3 mb-0">
                                          Wait for more users
                                        </p>
                                      {% else %}
                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                          {{ industryuser1.business_name }}
                                        </h3>
                                        <p class="text-primary font-size-h2 font-weight-bolder pt-3 mb-0">
                                          {{ industryuser1.magic_number }}
                                        </p>
                                      {% endif %}
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="flex-grow-1">
                                      {% if industryuser2_string %}
                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                            No Deal Available
                                        </h3>
                                        <p class="text-primary font-size-h2 font-weight-bolder pt-3 mb-0">
                                          Wait for more users
                                        </p>
                                      {% else %}
                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                          {{ industryuser2.business_name }}
                                        </h3>
                                        <p class="text-primary font-size-h2 font-weight-bolder pt-3 mb-0">
                                          {{ industryuser2.magic_number }}
                                        </p>
                                      {% endif %}
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <div class="flex-grow-1">
                                      {% if industryuser3_string %}
                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                            No Deal Available
                                        </h3>
                                        <p class="text-primary font-size-h2 font-weight-bolder pt-3 mb-0">
                                          Wait for more users
                                        </p>
                                      {% else %}
                                        <h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold cursor-pointer">
                                          {{ industryuser3.business_name }}
                                        </h3>
                                        <p class="text-primary font-size-h2 font-weight-bolder pt-3 mb-0">
                                          {{ industryuser3.magic_number }}
                                        </p>
                                      {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 d-flex align-items-center justify-content-between pt-0">
                        <span class="text-muted font-size-lg font-weight-bold pr-2">Best Magic Numbers</span
                        >
                        <a
                          href="{% url 'account_update' %}"
                          class="btn btn-sm btn-primary font-weight-bolder px-6"
                          >UPDATE</a
                        >
                      </div>
                    </div>
                  </div>

                  <!-- ===============================================-->
                  <!--    3rd Slide Card Ends Here -->
                  <!-- ===============================================-->
                </div>

                <!-- ===============================================-->
                <!--    Slide Cards End Here -->
                <!-- ===============================================-->
                               
              </div>
            </div>
          </div>

          <!-- ===============================================-->
          <!--    Content Ends Here -->
          <!-- ===============================================-->

          <!-- ===============================================-->
          <!--    Footer Starts Here -->
          <!-- ===============================================-->

          {% include 'main/templates/footer.html' %}

          <!-- ===============================================-->
          <!--    Footer Ends Here -->
          <!-- ===============================================-->
        </div>
      </div>
    </div>
    
    <!-- ===============================================-->
    <!--    Script Starts Here -->
    <!-- ===============================================-->

    {% include 'main/templates/script.html' %}

    <!-- ===============================================-->
    <!--    Script Ends Here -->
    <!-- ===============================================-->
  </body>

  <!-- ===============================================-->
  <!--    Body Ends Here -->
  <!-- ===============================================-->
</html>