{% load static %}

<!DOCTYPE html>

<html lang="en">
<!-- ===============================================-->
<!--    Header Starts Here -->
<!-- ===============================================-->

<title>{% block title %} Users | Vancouvar {% endblock %}</title>
<title>
    {% block description %} You can manage your users here. {% endblock %}
</title>

{% include 'main/templates/header.html' %}

<!-- ===============================================-->
<!--    Header Ends Here -->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    Body Starts Here -->
<!-- ===============================================-->

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!-- ===============================================-->
                <!--    Mainnav Starts Here -->
                <!-- ===============================================-->

                {% include 'users/templates/mainnav.html' %}

                <!-- ===============================================-->
                <!--    Mainnav Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Subnav Starts Here -->
                <!-- ===============================================-->

                {% include 'main/templates/subnav.html' %}

                <!-- ===============================================-->
                <!--    Subnav Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Content Starts Here -->
                <!-- ===============================================-->

                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!-- ===============================================-->
                    <!--    Breadcrumbs Start Here -->
                    <!-- ===============================================-->

                    {% include 'users/templates/breadcrumbs.html' %}

                    <!-- ===============================================-->
                    <!--    Breadcrumbs End Here -->
                    <!-- ===============================================-->

                    <!-- ===============================================-->
                    <!--    Notice Starts Here -->
                    <!-- ===============================================-->

                    {% include 'main/templates/notice.html' %}

                    <!-- ===============================================-->
                    <!--    Notice Ends Here -->
                    <!-- ===============================================-->

                    <!-- ===============================================-->
                    <!--    Cards Start Here -->
                    <!-- ===============================================-->

                    <div class="container">
                        <div class="d-flex flex-row">
                            <div class="flex-row-fluid">

                                <div class="row">

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-female-in-love-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-flag-person-female-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-salary-male-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-happy-man-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-about-me-female-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-banned-female-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-bartender-female-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-custom gutter-b card-stretch">
                                            <div class="card-body text-center py-20">
                                                <div class="mt-0">
                                                    <div class="symbol symbol-circle symbol-lg-50">
                                                        <img src="{% static '/images/avatar/icons8-delete-female-user-50.png' %}" alt="image" />
                                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary">
                                                        <span class="font-size-h3 symbol-label font-weight-boldest d-none">JM</span>
                                                    </div>
                                                </div>
                                                <div class="my-2">
                                                    <div class="text-dark font-weight-bold text-hover-primary font-size-h4">
                                                        FName LName
                                                    </div>
                                                    <div class="text-muted mb-4">Account Role</div>
                                                </div>
                                                <div class="">
                                                    <span class="label label-light-danger label-inline font-weight-bolder label-lg" data-toggle="modal" data-target="#kt_chat_modal">Contact</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- ===============================================-->
                    <!--    Cards End Here -->
                    <!-- ===============================================-->
                </div>

                <!-- ===============================================-->
                <!--    Content Ends Here -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Footer Starts Here -->
                <!-- ===============================================-->

                {% include 'main/templates/footer.html' %}

                <!-- ===============================================-->
                <!--    Footer Ends Here -->
                <!-- ===============================================-->
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    Panel Starts Here -->
    <!-- ===============================================-->

    {% include 'main/templates/panel.html' %}

    <!-- ===============================================-->
    <!--    Panel Ends Here -->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    vMessages Start Here -->
    <!-- ===============================================-->

    {% include 'main/templates/vmessages.html' %}

    <!-- ===============================================-->
    <!--    vMessages End Here -->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    Floatbar Starts Here -->
    <!-- ===============================================-->

    {% include 'main/templates/floater.html' %}

    <!-- ===============================================-->
    <!--    Floatbar Ends Here -->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    Script Starts Here -->
    <!-- ===============================================-->

    {% include 'main/templates/script.html' %}

    <!-- ===============================================-->
    <!--    Script Ends Here -->
    <!-- ===============================================-->
</body>

<!-- ===============================================-->
<!--    Body Ends Here -->
<!-- ===============================================-->

</html>